@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merienda", cursive;
}

h2 {
    font-size: 50px;
    margin: 20px;

}

h4 {
    font-size: 30px;
}

p {
    font-size: 15px;
    line-height: 30px;
}

html {
    scroll-behavior: smooth;
}

/* Header */

header {
    position: fixed;
    padding: 15px;
    background-color: #0b1f3aac;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.header-logo {
    width: auto;
    height: 100%;
    object-fit: cover;
    background: rgba(255, 255, 255, 0.284);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 10px;
}

.icon-reseau {
    width: 35px;
    height: 35px;
}

.header-nav {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
}

.header-nav-link {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.header-nav-reseau {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
}

.actif {
    text-decoration: underline;
    font-weight: bolder;
}

/* Main */

.main-header {
    height: 15vh;
    background-color: #0b1f3a;

}



/* Banierre */


.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.hero-logo-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    gap: 40px;
}

.hero-logo {
    padding: 30px;
    background-color: white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.hero h1 {
    font-size: 80px;
    color: #ffffff;
}

.hero-btn {
    background-color: #0b1f3a;
    padding: 20px 50px 20px 50px;
    font-size: 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: all;
    transition-duration: 0.5s;
    color: white;
}

.hero-btn:hover {
    transform: scale(1.2);
}




/* Page Présentation */


.presentation {
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 70vh;
    width: 90%;
    background: linear-gradient(#74A4E2, #e8ebf1);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    box-shadow: 0px 0px 15px gray;
}

.img-pres {
    height: auto;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.placement-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.placement-text h2 {
    margin: 0;
}

.placement-text p {
    font-size: 17px;
}

.btn {
    background-color: #0b1f3a;
    padding: 20px 50px 20px 50px;
    font-size: 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: all;
    transition-duration: 0.5s;
    color: white;
}

.btn:hover {
    transform: scale(1.2);
}





/* Réalisation */

.realisation-flash {
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 70vh;
    width: 90%;
    background: linear-gradient(#74A4E2, transparent);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 0px 15px gray;
}

.placement-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.placement-img img {
    width: 270px;
    height: 400px;
    margin: 30px;
    object-fit: cover;
    border-radius: 15px;
}

/* Footer */

footer {
    padding: 15px;
    padding-top: 50px;
    background-color: #0b1f3a;
    width: auto;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.article-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-footer p {
    font-size: 18px;
}

.h3-footer {
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 20px;
}

.important {
    font-weight: bolder;
    color: white;
    font-size: 18px;
}

.btn-important {
    text-decoration: none;
    background-color: white;
    color: #0b1f3a;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 0.4s;
}

.btn-important:hover {
    transform: scale(1.1);
}

.footer-rs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}